
  @import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #200E3A;
    font-family: 'Electrolize', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #52D3D8;
    height: 100vh;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    background-color: #52D3D8   ;
    height: 70%;
    width: 50%;
    padding: 20px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}
.header hr{
    color: transparent;
}

.header .name{
    font-size: 28px;
    opacity: 0.9;
    font-weight: bold;
    letter-spacing: 1.3px;    
}
.header .desc{
    font-size: 14px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centers;
    row-gap: 10px;
}
.content{
    height: 400px;
    width: 100px;
    row-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content a img{
    width: 50px;
    border-radius: 100%;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    font-size: 17px;
    opacity: 0.9;
    font-weight: bold;
}
.contact img{
    width: 50px;
}
.coded{
    font-size: 12px;
    font-weight: bold;
}
.coded a{
    color: blueviolet;
}



