<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}}} -->
<main class="wp-block-group"><!-- wp:cover {"overlayColor":"black","isUserOverlayColor":true,"minHeight":100,"minHeightUnit":"vh","align":"full","style":{"spacing":{"padding":{"top":"4vw","right":"4vw","bottom":"4vw","left":"4vw"}}}} -->
<div class="wp-block-cover alignfull" style="padding-top:4vw;padding-right:4vw;padding-bottom:4vw;padding-left:4vw;min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-black-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"blockGap":"20px","margin":{"bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-bottom:0"><!-- wp:group {"layout":{"type":"constrained","contentSize":"132px"}} -->
<div class="wp-block-group"></div>
<!-- /wp:group -->

<!-- wp:site-title {"textAlign":"center","isLink":false,"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"typography":{"textTransform":"uppercase","fontSize":"69px","lineHeight":"1","fontStyle":"normal","fontWeight":"700","letterSpacing":"0px","textDecoration":"none"}},"textColor":"white"} /-->

<!-- wp:site-tagline {"textAlign":"center","style":{"spacing":{"margin":{"top":"8px"}},"typography":{"fontSize":"16px"}},"textColor":"white"} /-->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center","orientation":"vertical"},"style":{"spacing":{"blockGap":"16px","margin":{"top":"32px"}}}} -->
<div class="wp-block-buttons" style="margin-top:32px"><!-- wp:button {"textColor":"black","width":100,"style":{"typography":{"textTransform":"uppercase"},"border":{"radius":"100px"},"color":{"gradient":"linear-gradient(135deg,rgb(34,193,195) 0%,rgb(224,253,45) 100%)"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100" style="text-transform:uppercase"><a class="wp-block-button__link has-black-color has-text-color has-background wp-element-button" href="https://www.linkedin.com/in/taha-can-şenel-b22b9a284/" style="border-radius:100px;background:linear-gradient(135deg,rgb(34,193,195) 0%,rgb(224,253,45) 100%)"><strong>Lınkeldın</strong></a></div>
<!-- /wp:button -->

<!-- wp:button {"width":100,"style":{"typography":{"textTransform":"uppercase"},"border":{"radius":"100px"},"color":{"gradient":"linear-gradient(135deg,rgb(255,231,102) 0%,rgb(255,94,98) 100%)","text":"#960c0d"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100" style="text-transform:uppercase"><a class="wp-block-button__link has-text-color has-background wp-element-button" href="https://github.com/Korugan32" style="border-radius:100px;color:#960c0d;background:linear-gradient(135deg,rgb(255,231,102) 0%,rgb(255,94,98) 100%)"><strong>gıthub</strong></a></div>
<!-- /wp:button -->

<!-- wp:button {"width":100,"style":{"typography":{"textTransform":"uppercase"},"border":{"radius":"100px"},"color":{"gradient":"linear-gradient(135deg,rgb(12,235,235) 0%,rgb(32,227,178) 49%,rgb(41,255,198) 100%)","text":"#0b5340"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100" style="text-transform:uppercase"><a class="wp-block-button__link has-text-color has-background wp-element-button" href="https://open.spotify.com/user/ir8l96nonwgrho6nmkcyokree?si=500b5141c716401f" style="border-radius:100px;color:#0b5340;background:linear-gradient(135deg,rgb(12,235,235) 0%,rgb(32,227,178) 49%,rgb(41,255,198) 100%)"><strong>Spotify</strong></a></div>
<!-- /wp:button -->

<!-- wp:button {"width":100,"style":{"typography":{"textTransform":"uppercase"},"border":{"radius":"100px"},"color":{"gradient":"linear-gradient(135deg,rgb(100,207,241) 0%,rgb(122,103,241) 100%)","text":"#142547"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100" style="text-transform:uppercase"><a class="wp-block-button__link has-text-color has-background wp-element-button" href="tahacansenel@gmail.com" style="border-radius:100px;color:#142547;background:linear-gradient(135deg,rgb(100,207,241) 0%,rgb(122,103,241) 100%)"><strong>mail</strong></a></div>
<!-- /wp:button -->

<!-- wp:button {"width":100,"style":{"typography":{"textTransform":"uppercase"},"border":{"radius":"100px"},"color":{"gradient":"linear-gradient(135deg,rgb(175,109,252) 0%,rgb(238,140,198) 51%,rgb(252,229,161) 100%)","text":"#1c006d"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-100" style="text-transform:uppercase"><a class="wp-block-button__link has-text-color has-background wp-element-button" href="https://instagram.com/tahacsenel?igshid=NzZlODBkYWE4Ng==" style="border-radius:100px;color:#1c006d;background:linear-gradient(135deg,rgb(175,109,252) 0%,rgb(238,140,198) 51%,rgb(252,229,161) 100%)"><strong>Instagram</strong></a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></main>
<!-- /wp:group -->